.services {
    display: block;
    font-size: 0;
    margin: 0 -1.5rem;
}

.services__image-wrap {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    box-sizing: border-box;
    padding: 1.5rem;
    width: 50%;
}

.services__image-col-2 {
    width: calc(~"100% / 3 * 2");
}

.services__image-col-1 {
    width: calc(~"100% / 3");
}

.services__image {
    width: auto;
}

@media (max-width: 767px) {
    .services__image-wrap {
        width: 100%;
        padding: 1rem;
    }
}


