.services {
    display: block;
    font-size: 0;
    margin: 0 -1.5rem;

    &__image-wrap {
        display: inline-block;
        vertical-align: top;
        font-size: 0;
        box-sizing: border-box;
        padding: 1.5rem;
        width: 50%;
    }

    &__image {
        width: auto;
    }
}


@media (max-width: 767px) {
    .services {
        &__image-wrap {
            text-align: center;
            width: 100%;
            padding: 1rem;
        }
    }
}
