---
layout: default
title: Virtual simulators
menu: Virtual
category: Services
---
<section class="container">

    <section class="services-top">
        <div class="services-top-title">
            <h1 class="title">SERVICES</h1>
        </div>
        {% include services-menu.html participants=site.data.services_categories %}
    </section>


    <!-- NEW SERVICE ITEM BEGIN -->
    <h1 class="animation__main-title animation__main-title_no-margin">
        Fire room
    </h1>

    <div class="animation">
        <div class="animation__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-C7o8408KpY" frameborder="0"
                    allowfullscreen></iframe>
        </div>

        <div class="animation__buttons">
            <div class="animation__buttons-group">
            </div>
            <div class="animation__share">
                <span class="animation__share-text">Share</span>
                {% include share-links-small.html %}
            </div>
        </div>
    </div>

    <div class="animation-recomend">
        <p class="animation-recomend__text"></p>
        <div class="animation-recomend__column animation-recomend__column_left">
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i5 8400/AMD RYZEN 5 2600 CPU, 16 GB RAM, Nvidia GeForce GTX 1060<br>
                Windows 10 and higher x64 ONLY</p>
            <h2 class="animation-recomend__title">Recommended:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2070</p>
        </div>
        <div class="animation-recomend__column">
            <h2 class="animation-recomend__title">Oculus Rift/Dk2 and VR mode</h2>
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2080</p>
        </div>

    </div>
    <!-- NEW SERVICE ITEM END -->



    <!-- NEW SERVICE ITEM BEGIN -->
    <h1 class="animation__main-title">
        Test system
    </h1>

    <div class="animation">
        <div class="animation__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xZjjhAfe-hU" frameborder="0"
                    allowfullscreen></iframe>
        </div>

        <div class="animation__buttons">
            <div class="animation__buttons-group">
            </div>
            <div class="animation__share">
                <span class="animation__share-text">Share</span>
                {% include share-links-small.html %}
            </div>
        </div>
    </div>

    <div class="animation-recomend">
        <p class="animation-recomend__text"></p>
        <div class="animation-recomend__column animation-recomend__column_left">
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i5 8400/AMD RYZEN 5 2600 CPU, 16 GB RAM, Nvidia GeForce GTX 1060<br>
                Windows 10 and higher x64 ONLY</p>
            <h2 class="animation-recomend__title">Recommended:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2070</p>
        </div>
        <div class="animation-recomend__column">
            <h2 class="animation-recomend__title">Oculus Rift/Dk2 and VR mode</h2>
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2080</p>
        </div>

    </div>
    <!-- NEW SERVICE ITEM END -->




    <!-- NEW SERVICE ITEM BEGIN -->
    <h1 class="animation__main-title">
        Technical implementation
    </h1>

    <div class="animation">
        <div class="animation__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vkLn9WdxZZg" frameborder="0"
                    allowfullscreen></iframe>
        </div>

        <div class="animation__buttons">
            <div class="animation__buttons-group">
            </div>
            <div class="animation__share">
                <span class="animation__share-text">Share</span>
                {% include share-links-small.html %}
            </div>
        </div>
    </div>

    <div class="animation-recomend">
        <p class="animation-recomend__text"></p>
        <div class="animation-recomend__column animation-recomend__column_left">
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i5 8400/AMD RYZEN 5 2600 CPU, 16 GB RAM, Nvidia GeForce GTX 1060<br>
                Windows 10 and higher x64 ONLY</p>
            <h2 class="animation-recomend__title">Recommended:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2070</p>
        </div>
        <div class="animation-recomend__column">
            <h2 class="animation-recomend__title">Oculus Rift/Dk2 and VR mode</h2>
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2080</p>
        </div>

    </div>
    <!-- NEW SERVICE ITEM END -->



    <!-- NEW SERVICE ITEM BEGIN -->
    <h1 class="animation__main-title">
        Motion analytics
    </h1>

    <div class="animation">
        <div class="animation__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Jmsuz6Bl8Hg" frameborder="0"
                    allowfullscreen></iframe>
        </div>

        <div class="animation__buttons">
            <div class="animation__buttons-group">
            </div>
            <div class="animation__share">
                <span class="animation__share-text">Share</span>
                {% include share-links-small.html %}
            </div>
        </div>
    </div>

    <div class="animation-recomend">
        <p class="animation-recomend__text"></p>
        <div class="animation-recomend__column animation-recomend__column_left">
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i5 8400/AMD RYZEN 5 2600 CPU, 16 GB RAM, Nvidia GeForce GTX 1060<br>
                Windows 10 and higher x64 ONLY</p>
            <h2 class="animation-recomend__title">Recommended:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2070</p>
        </div>
        <div class="animation-recomend__column">
            <h2 class="animation-recomend__title">Oculus Rift/Dk2 and VR mode</h2>
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2080</p>
        </div>

    </div>
    <!-- NEW SERVICE ITEM END -->




    <!-- NEW SERVICE ITEM BEGIN -->
    <h1 class="animation__main-title">
        Sambek heights map
    </h1>

    <div class="animation">
        <div class="animation__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wixb98XOjoQ" frameborder="0"
                    allowfullscreen></iframe>
        </div>

        <div class="animation__buttons">
            <div class="animation__buttons-group">
            </div>
            <div class="animation__share">
                <span class="animation__share-text">Share</span>
                {% include share-links-small.html %}
            </div>
        </div>
    </div>

    <div class="animation-recomend">
        <p class="animation-recomend__text"></p>
        <div class="animation-recomend__column animation-recomend__column_left">
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i5 8400/AMD RYZEN 5 2600 CPU, 16 GB RAM, Nvidia GeForce GTX 1060<br>
                Windows 10 and higher x64 ONLY</p>
            <h2 class="animation-recomend__title">Recommended:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2070</p>
        </div>
        <div class="animation-recomend__column">
            <h2 class="animation-recomend__title">Oculus Rift/Dk2 and VR mode</h2>
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i7 9700/AMD RYZEN 7 2700 CPU, 16 GB RAM, Nvidia GeForce GTX 2080</p>
        </div>

    </div>
    <!-- NEW SERVICE ITEM END -->

</section>
