<div class="our-clients">
    <section class="main-page-article">
        <h3 class="main-page__title main-page__title_bottom">
            Our clients
        </h3>
        <div class="clients-footer" >
            <div class="clients-footer__item">
                <a href="https://www.nornickel.ru/" target="_blank">
                    <img src="/img/clients/nornikel.jpg" alt="Норильский никель">
                </a>
            </div>

            <div class="clients-footer__item">
                <a href="https://rosteh.ru/" target="_blank">
                    <img src="/img/clients/rosteh.jpg" alt="Ростех">
                </a>
            </div>

            <div class="clients-footer__item">
                <a href="https://www.donland.ru/" target="_blank">
                    <img src="/img/clients/rostov-gov.jpg" alt="Правительство Ростовской области">
                </a>
            </div>

            <div class="clients-footer__item">
                <a href="https://minstroi.donland.ru/" target="_blank">
                    <img src="/img/clients/rostov-stroy.jpg" alt="Министерство строительства, архитектуры и территориального развития Ростовской области">
                </a>
            </div>

            <div class="clients-footer__item">
                <a href="https://mkro.donland.ru/" target="_blank">
                    <img src="/img/clients/rostov-culture.jpg" alt="Министерство культуры Ростовской области">
                </a>
            </div>
        </div>
    </section>
</div>

<section class="footer">
    <div class="container footer__container">
        <div class="footer__column">
            <div class="footer__column-content">
                <div class="footer__title">
                    We offer
                </div>
                <br>
                <div class="footer__description">
                    <a href="/services.html" class="footer__link">Interactive Tour</a><br>
                    <a href="/projects.html" class="footer__link">Projects</a><br>
                    <a href="/virtual-simulators.html" class="footer__link">Virtual Simulators</a><br>
                </div>
            </div>
            <div class="footer__column-content">
                <div class="footer__title">
                    Get in touch
                </div>
                <br>
                <div class="footer__description">
                    <a href="/contacts.html" class="footer__link">Russian Federation</a><br>
                    <a href="/contacts.html" class="footer__link">Greece &amp; Cyprus</a><br>
                    <a href="/contacts.html" class="footer__link">China</a><br>
                </div>
            </div>
        </div>
        <div class="footer__column footer__column_logo">
            <div class="footer__column-content footer__column-content_logo">
                <a href="/index.html">
                    <img src="/img/logo.svg" class="logo footer__logo">
                </a>
                {% include share-links.html %}
            </div>
        </div>

        <div class="footer__column">
            <div class="footer__column-content">
                <div class="footer__title">
                    Media
                </div>
                <br>
                <div class="footer__description">
                    <a href="/blog.html" class="footer__link">{{ site.posts[0].title }}</a>
                </div>
            </div>

            <div class="footer__column-content">
                <div class="footer__title">
                    Navigation
                </div>
                <br>
                <div class="footer__description">
                    <a href="/about.html" class="footer__link">About us</a><br>
                    <a href="/contacts.html" class="footer__link">Contact us</a><br>
                    <a href="/services.html" class="footer__link">Services</a><br>
                    <a href="/blog.html" class="footer__link">Blog</a><br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copyright">
    Polygonator.com {{ site.time | date: '%Y' }} © All rights reserved.
</section>
<script type="text/javascript" src="/libs/slick/slick.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
