<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="libs/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet">
    <link href="libs/font-awesome.min.css" rel="stylesheet">
    <style>{% include style.css %}</style>
</head>
<body>
<section class="header" id="header">
    <div class="container">
        <div class="header__container">
            <a href="/index.html" class="header__logo-wrap">
                <img src="img/logo.svg" class="logo header__logo">
            </a>

            <button class="header-menu-toggle only-mobile" onclick="toggleMenu()">
                <img src="img/menu.svg" class="header-menu-toggle__image">
            </button>

            <ul class="header-menu" id="header-menu">
                <li class="header-menu__item">
                    <a href="/about.html" class="header-menu__link  {% if page.title == 'About' %} header-menu__link_active {% endif %}">ABOUT</a>
                </li>
                <li class="header-menu__item">
                    <a href="/contacts.html" class="header-menu__link {% if page.title == 'Contacts' %} header-menu__link_active {% endif %}">CONTACTS</a>
                </li>
                <li class="header-menu__item">
                    <a href="/services.html" 
                        class="header-menu__link {% if page.title == 'Services' %} header-menu__link_active {% endif %}">
                    SERVICES</a>
                </li>
                <li class="header-menu__item">
                    <a href="/blog.html" 
                    class="header-menu__link {% if page.title == 'Blog' %}header-menu__link_active {% endif %}">
                     BLOG</a>
                </li>
            </ul>
        </div>
    </div>
</section>
