 <div class="services-menu">
    <ul class="services-menu__list">
        <li class="services-menu__item">
            <a href="/services.html" class="services-menu__link {% if page.menu == 'All'%} services-menu__link_active {% endif %}">All</a>
        </li>
        <li class="services-menu__item">
            <a href="#" class="services-menu__link  {% if page.menu == 'Interactive'%}services-menu__link_active {% endif %}">Interactive Tour</a>
        </li>
        <li class="services-menu__item">
            <a href="/services-modelling.html" class="services-menu__link  {% if page.menu == 'Modelling'%}services-menu__link_active {% endif %}">3D Modelling</a>
        </li>
        <li class="services-menu__item">
            <a href="/services-visialisation.html" class="services-menu__link  {% if page.menu == 'Visialisation'%}services-menu__link_active {% endif %}">Visialisation</a>
        </li>
        <li class="services-menu__item">
            <a href="#" class="services-menu__link services-menu__link_last {% if page.menu == 'Animation'%}services-menu__link_active {% endif %}">Animation</a>
        </li>
    </ul>
</div>