<div class="footer-social">
    
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

 <div class="fb-share-button" style="background-image: url(/img/facebook.svg)" data-href="https://www.facebook.com/polygonator/" data-layout="button_count" data-size="small" data-mobile-iframe="true">
     <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/?u=https%3A%2F%2Fwww.facebook.com%2Fpolygonator%2F;src=sdkpreparse">
        <img style="display: inline" src="/img/facebook.svg" alt="facebook" title="facebook" class="footer-social__img">
     </a></div>
    
    <a onclick="window.open(this.href, this.target, width=70, height=50); return false;" class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/?u=https%3A%2F%2Fwww.facebook.com%2Fpolygonator%2F" title="facebook">
        <img style="display: inline" src="/img/facebook.svg" alt="facebook" title="facebook" class="footer-social__img">
    </a>
    <a href="https://twitter.com/Polygonator" target="_blank" title="twitter">
        <img src="/img/twitter.svg" alt="twitter" title="twitter" class="footer-social__img">
    </a>
    <a href="https://www.linkedin.com/company/11055252/" target="_blank">
        <img src="/img/linkedin.svg" alt="linkedin" title="linkedin" class="footer-social__img">
    </a>
    
</div>